body {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  flex-wrap: wrap;
  animation-name: fadein;
  animation-duration: 3s;
}

header img {
  width: 100%;
  height: auto;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.pricing{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery img {
  width: 100%;
  height: auto;
}

@media all and (min-width: 700px){
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  header img {
    width: 400px;
    height: auto;
  }

  .nav_links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .pricing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .card {
    width: 300px;
  }

  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery img {
    width: 300px;
    height: 200px;
  }
}

@media screen and (prefers-reduced-motion: reduce){
  html{
    scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none;
    transition: none;
  }
}
